{% extends 'myblog/base.html' %}

{% load widget_tweaks %}

{% block title %}Start a New Topic{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'myblog:home' %}">Boards</a></li>
  <li class="breadcrumb-item"><a href="{% url 'myblog:board' board.pk %}">{{ board.name }}</a></li>
  <li class="breadcrumb-item active">New topic</li>
{% endblock %}

{% block body %}
<form method="post" novalidate>
  {% csrf_token %}
  {% include 'myblog/includes/form.html' %}
  <button type="submit" class="btn btn-success">Post</button>
</form>
{% endblock %}
